<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @forum.title %>
</p>

<p>
  <b>Description:</b>
  <%= @forum.description %>
</p>

<div id="conversations">
  <% unless @conversations.nil? %>
  <% @conversations.each do |conversation| %>
  <div class="listing">
    <div class="class"><%= link_to conversation.title, conversation_path(conversation) %></div>
    <div class="description"><%= conversation.description %></div>
  </div>
  <% end %>
  <% end %>
</div> <!-- div#conversations -->

<div style="display:none">
  <%= link_to 'Edit', edit_forum_path(@forum) %> |
</div>
<%= link_to 'Back', forums_path %> | 

<%= link_to 'New Conversation', new_forum_conversation_path(@forum) %>
