<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @conversation.title %>
</p>

<p>
  <b>Description:</b>
  <%= @conversation.description %>
</p>

<%= render :partial => 'comments/form' %>

<div id="comments">
  <% unless @comments.nil? %>
    <% @comments.each do |c| %>
      <% unless c.content.nil? %>
      <div class="listing">
        <%= c.content %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div style="display:none">
<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
</div>
<%= link_to 'Back', forum_path(@forum) %>
